# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Avalonia.PackIconPerfTest.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Contributions\Avalonia.IconBindingPerfTest\.idea\.idea.Avalonia.PackIconPerfTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
